.direnv
.pre-commit-config.yaml
picard.qcow2
pike.qcow2
projects/blog/_cache
projects/blog/generator/dist-newstyle
projects/blog/generator/thirdparty
projects/blog/out
projects/cv/**/*.aux
projects/cv/**/*.log
projects/cv/**/*.out
projects/cv/**/*.pdf
projects/talks/agenix-shell/**/dist
projects/talks/agenix-shell/**/node_modules
result
sisko.qcow2
